<article class="tc">
	<form method="post">
		<label>Title :</label>
		<input type="text" name="title" id="editPostTitle" />
		<br />
		<br />
		<label>Body :</label>
		<textarea name="body" rows="20" id="editPostBody"></textarea>
		<div id='editPostSubmit'>
			<input type="submit" value="Send" />
		</div>
	</form>
</article>